* {
    font-family: 'Kanit', sans-serif;
    ;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

}

.navbar-dark .navbar-brand span {
    color: #1977cc;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: .3;

}

/*reused style*/

.section-subtitle {
    color: hsl(217, 100%, 50%);
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

.section-text {
    color: hsl(0, 0%, 47%);
    font-size: 18px;
    line-height: 1.6;
}

/*home*/
.home {
    position: relative;
    margin-top: 70px;
    padding: 80px 15px 0;
    overflow: hidden;
    background: radial-gradient(ellipse at left, hsla(217, 100%, 55%, 0.3), transparent 70%);
}

.home::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;

}

.home .deco-shape {
    position: absolute;
}

.home .shape-1 {
    top: 14%;
    left: 8%;
}

.home .shape-2 {
    top: 600px;
    left: 30px;
}

.home .shape-3 {
    top: 25%;
    right: 0;
}

.home .shape-4 {
    top: 570px;
    right: 110px;
}

.home-left {
    margin-bottom: 60px;
}

.home-left,
.home-right {
    position: relative;
    z-index: 10;
}

.home .section-subtitle {
    text-align: center;
    margin-bottom: 25px;
}

.main-heading {
    color: hsl(229, 84%, 12%);
    font-size: 90px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;

}

.underline-img {
    display: inline-block;
    position: relative;
}

.underline-img img {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}

.home .section-text {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.home-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.home-right .img-box {
    position: relative;
}

.home-right .img-box img {
    position: absolute;
}

.home-right .img-box .banner-img {
    position: relative;
    width: auto;
    max-width: 100%;
    margin: auto;
    z-index: 2;
}

.home-right .background-shape {
    width: auto;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.home-right .icon-1 {
    top: 200px;
    left: 20px;
}

.home-right .icon-2,
.home-right .icon-3 {
    display: none;
}

.home-right .icon-4 {
    top: 170px;
    right: 300px;
    filter: drop-shadow(0 8px 30px hsla(350, 100%, 68%, 0.5));
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    filter: drop-shadow(0 10px 20px hsla(0, 0%, 0%, 0.2));
    z-index: 5;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home::before {
    top: -100px;
    left: -300px;
}

.home::after {
    top: 0;
}

.home-left {
    margin-bottom: 0;
}

.home .section-subtitle,
.main-heading,
.home .section-text {
    text-align: left;
}

.home .section-text {
    margin: 0 0 30px;
}

.home-btn-group {
    justify-content: start;
}

.drop-anim {
    animation: drop 2.5s infinite;
}

@keyframes drop {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.pulse-anim {
    animation: pulse 3s linear infinite;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center
    }

    .carousel-caption {
        bottom: 165px
    }

    .carousel-caption h5 {
        font-size: 16px
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 14px
    }

    .navbar .appbtn {
        display: none;
    }

    .section-subtitle {
        color: hsl(217, 100%, 50%);
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }

    .section-text {
        color: hsl(0, 0%, 47%);
        font-size: 8px;
        line-height: 1.6;
    }

    .main-heading {
        color: hsl(229, 84%, 12%);
        font-size: 20px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 40px;
        text-align: center;

    }

    .home-right .icon-4 {
        top: 50px;
        right: 30px;
        filter: drop-shadow(0 8px 30px hsla(350, 100%, 68%, 0.5));
    }
}